@using POC.Rotativa.AspNetCore.Models.Customer
@model IEnumerable<CustomerViewModel>

@{
    Layout = "_LayoutReport";
}

<div class="container">
    <table class="table-title-report">
        <tr>
            <td class="td-iconReport">
                <img src="~/images/iconReport.png" class="center-block img-iconReport" />
            </td>
            <td>
                <h1>Report - Customer List</h1>
            </td>
        </tr>
    </table>

    <br />

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cpf)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telephone)
                </th>
            </tr>
        </thead>

        <tbody>
            @if(Model != null && Model.Count() > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cpf)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Age)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telephone)
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" align="center">No registered customers</td>
                </tr>
            }
        </tbody>
    </table>
</div>